$backgroundColor: #ccc;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

@for $ratio from 1 through 8 {
	.flex-#{$ratio} {
		flex: $ratio;
	}
}

#body-root {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

.main-content {
	display: flex;
	flex-flow: column;
	flex: 1;
	overflow: auto;
	background-color: $backgroundColor;
	color: black;
}
