# Docker build instructions
/.dockerignore
/Dockerfile
/docker-compose.yaml

# Version management and CI
/.git
/.gitignore
/*/.gitignore
/.gitattributes
/.github

# IDE
/.vscode

# Dependencies and artifacts
/node_modules
/*/node_modules
/*/out
